.profile__avatar {
    background: url(../../../images/Avatar.svg);
    width: 120px;
    min-height: 120px;
    background-repeat: no-repeat;
    margin-right: 30px;
}
@media screen and (max-width:560px) {
    .profile__avatar {
        margin: 0 auto;        
    }
}