.card {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    font-family: 'Inter', Arial, sans-serif;
    
}
@media screen and (max-width:320px) {
    .card {
        margin: 0 auto;
    }
}
